* {
    box-sizing: border-box;
}

:root {
    --mainFont: "Roboto Condensed", sans-serif;
    --textShadow: #943131;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.body {
    background-image: url("../decor/bg.webp");
    background-repeat: repeat;
    background-size: contain;
    text-align: center;
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ff0000;
    height: 100%;
}

.header__title {
    font-family: var(--mainFont);
    font-size: 46x;
    text-shadow: 1px 1px 1px #5f5f5f;
}

.header__subtitle {
    font-family: var(--mainFont);
    font-size: 120px;
    text-shadow: 2px 2px 2px var(--textShadow);
}

.button {
    font-family: var(--mainFont);
    margin: 0 auto;
}

.header__button {
    text-transform: uppercase;
    font-size: 36px;
    padding: 10px;
    border-radius: 5px;
    background-color: bisque;
    transition: transform 1s;
}

.header__button:hover {
    transform: translateY(2px);
}

.questions__group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.questions__level {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

.questions__level-title {
    font-family: var(--mainFont);
    font-weight: 500;
    color: #1f1f1f;
    text-shadow: 1px 1px 1px #b8b8b8;
    max-width: 300px;
    text-align: left;
}

.questions__items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 200px;
    padding: 10px;
}

.questions__item {
    display: block;
    padding: 5px;
    border: 1px solid #ff0000;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.questions__item:hover {
    background-color: rgb(223, 0, 0);
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    transform: scale(1.2);
    transition: all 1s;
}

.modal {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.modal::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../decor/bg.webp");
    z-index: 1;
}

.modal__img {
    display: flex;
    z-index: 2;
    background-size: contain;
    max-height: 80%;
}

.modal__btn {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    margin: 10px;
    font-weight: 100;
}

.modal__title {
    position: absolute;
    z-index: 2;
}

.modalAnswer {
    z-index: 3;
}

.modalAnswer_title {
    color: #ff0000;
    text-shadow: 2px 2px 2px var(--textShadow);
    font-size: 60px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#fireworks-canvas{
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
}

.modalQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalQuestion_title {
    font-size: 60px;
}

.modal__contetx {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #5f5f5f;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #5f5f5f;
}

.modal__list {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    display: flex;
    column-gap: 20px;
}

.modalQuestion__item {
    border: 1px solid #5f5f5f;
    border-radius: 10px;
    padding: 15px;
    max-width: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}

.modalQuestion__item:hover {
    background-color: #5f5f5f;
    color: #fff;
    transform: scale(1.1);
    font-weight: 700;
}

.modalQuestion__btn {
    padding: 20px;
}

.visible {
    display: none;
}