* {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.body {
    background-image: url("../decor/bg.webp");
    background-repeat: repeat;
    background-size: contain;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ff0000;
    height: 100vh;
}

.header__title {
    font-size: 46x;
    text-shadow: 1px 1px 1px #5f5f5f;
}

.header__subtitle {
    font-size: 120px;
    text-shadow: 2px 2px 2px #943131;
}

.button {
    margin: 0 auto;
}

.header__button {
    text-transform: uppercase;
    font-size: 36px;
    padding: 10px;
    border-radius: 5px;
    background-color: bisque;
    transition: transform 1s;
}

.header__button:hover {
    transform: translateY(2px);
}

.questions__group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.questions__level {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

.questions__level-title {
    max-width: 300px;
    text-align: left;
}

.questions__items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 200px;
    padding: 10px;
}

.questions__item {
    display: block;
    padding: 5px;
    border: 1px solid #ff0000;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.questions__item:hover {
    background-color: rgb(223, 0, 0);
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    transform: scale(1.2);
    transition: all 1s;
}

.visible {
    display: none;
}