@font-face {
    font-family: 'Nautilus';
    src: url('../font/Nautilus.woff');
}

@font-face {
    font-family: 'Radiotechnika';
    src: url('../font/Radiotechnika.woff');
}

@font-face {
    font-family: 'RIVERHACK';
    src: url('../font/RIVERHACK.woff');
}

* {
    box-sizing: border-box;
}

:root {
    --mainFont: "Roboto Condensed", sans-serif;
    --decorationFont: Nautilus, sans-serif;
    --startButtonFont: Radiotechnika, sans-serif;
    --startFontTitle: RIVERHACK, sans-serif;
    --textShadow: #611f1f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.body {
    position: relative;
    background-image: url("../decor/bg.webp");
    background-repeat: repeat;
    background-size: contain;
    text-align: center;
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

.body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #dbdbdb;
    opacity: 0.2;
    z-index: -1;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    color: #ff0000;
    height: 100%;
}

.header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-image: url("../decor/book.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.header__title {
    font-family: var(--mainFont);
    font-size: clamp(1rem, 0.318rem + 3.409vi, 2.875rem);
    text-shadow: 2px 1px 10px #ffffff;
    text-transform: uppercase;
}

.header__subtitle {
    font-family: var(--startFontTitle);
    font-size: clamp(2.688rem, 0.938rem + 8.75vi, 7.5rem);
    text-transform: none;
    letter-spacing: cclamp(0.125rem, -0.511rem + 3.182vi, 1.875rem);
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}

.header__subtitle::first-letter {
    font-size: clamp(6.25rem, 3.977rem + 11.364vi, 12.5rem);
}

.button {
    font-family: var(--mainFont);
    margin: 0 auto;
}

.header__button {
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 900;
    font-family: var(--startButtonFont);
    letter-spacing: 20px;
    padding: 10px;
    background-color: transparent;
    transition: transform 1s;
    border: 1px solid transparent;
    color: #ffffff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

.header__button:hover {
    transform: translateY(2px);
}

.questions__group {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.questions__level {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    background-color: #F0EEE9 ;
    padding: 40px;
    border-radius: 10px;
}

.questions__level-title {
    font-family: var(--mainFont);
    font-weight: 500;
    font-size: 32px;
    color: #1f1f1f;
    text-shadow: 1px 1px 1px #b8b8b8;
    max-width: 300px;
    text-align: left;
}

.questions__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    font-size: 24px;
}

.questions__item {
    display: block;
    padding: 10px;
    border: 2px solid #478589;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
}

.questions__item:hover {
    background-color: rgb(223, 0, 0);
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    transform: scale(1.2);
    transition: all 1s;
}

.modal {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal::before {
    content: "";
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #F0EEE9;
    border-radius: 10px;
    z-index: 1;
}

.modal__img {
    display: flex;
    z-index: 2;
    background-size: contain;
    margin-top: 50px;
    max-height: 80%;
    align-self: start;
}

.modal__btn {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 3;
    right: 0;
    top: 0;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all .4s;
}

.modal__btn:hover {
    transform: rotate(180deg);
}

.modal__title {
    position: absolute;
    padding: 0 30px;
    z-index: 2;
}

.modalAnswer {
    z-index: 3;
}

.modalAnswer_title {
    color: #ff0000;
    text-shadow: 2px 2px 2px var(--textShadow);
    font-size: 60px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#fireworks-canvas {
    position: absolute;
    z-index: 4;
    height: 400px;
    width: 1000px;
}

.modalQuestion_title {
    font-size: clamp(1.5rem, 0.244rem + 4.675vi, 3.75rem);
}

.modal__contetx {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    color: #5f5f5f;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #5f5f5f;
}

.modal__list {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    display: flex;
    column-gap: 20px;
}

.videoFail {
    position: absolute;
    z-index: 2;
}

.modalQuestion__item {
    border: 1px solid #5f5f5f;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    font-size: 30px;
}

.modalQuestion__item:hover {
    background-color: #5f5f5f;
    color: #fff;
    transform: scale(1.1);
    font-weight: 700;
}

.modalQuestion__btn {
    padding: 20px;
}

.visible {
    display: none;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }

    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}

@media (width <= 430px) {
    .body {
        height: 100svh;
    }

    .header::before {
        top: 30%;
    }

    .questions__level-title {
        text-align: center;
    }

    .questions__level {
        flex-direction: column;
    }

    .questions__items {
        width: 100%;   
    }
    
    .questions__item {
        margin: 0 auto;
    }

    .modal__list {
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
        padding: 10px;
    }
    .modalQuestion__item {
        min-width: 100%;
        text-align: center;
    }

    .videoFail {
        width: 100%;
    }
}